/* Стили для кнопки */
.list-action-button {
  background: none;
  position: absolute;
  color: orange;
  border: none;
  padding: 0 5px;
  font-size: 30px;
  border-radius: 5px;
  line-height: 1;
  /*left: 20px;*/
  /*top: -10px;*/
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.list-action-button:hover {
  background-color: #2980b9;
}

/* Стили для элементов списка в модалке */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

/* Подсветка при наведении */
li:hover {
  background-color: #e0e0e0;
}

/* Стили для выбранного элемента */
li.selected {
  background-color: #a8d0e6;
  font-weight: bold;
}

/* Поле ввода для поиска */
input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
